@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: #FFF8EA;
}

html {
    font-family: 'Kiwi Maru', serif;
}

button, input, textarea {
    font-family : inherit;
}

/* 中央寄せ */

.BOX {
    margin: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
/*  */

.input_area {
    background: #D3D4B2;
    width: 400px;
    height: 30px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

input {
    border-radius: 16px;
    padding: 6px 16px;
    border: none;
}

button {
    border-radius: 16px;
    border: none;
    padding: 4px 16px;
    margin-left: 8px;
}

button:hover {
    background: #8a8a78;
    color: #f6f6f6;
    cursor: pointer;
}

.incomplete_area {
    background: #e1d8c9;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

ul {
    margin-left: 16px;
    z-index: 2;
}

button {
    z-index: 2;
}

li {
    margin: 2% 7%;
}

.list_row {
    display: flex;
}

h2 {
    text-align: center;
    color: #666;
}

.complete_area {
    background: #f6e5c5;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 45px 8px 8px;
    border-radius: 8px;
}

.irasuto {
    background-image: url(./img/kumasan.png);
    min-height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    top: -127px;
    right: -20px;
}

.complete_area {
    position: relative;
}


/* レスポンシブ */
@media screen and (min-width:320px)and (max-width:438px) {
    .input_area {
        width: 100%;
    }

    .incomplete_area {
        width: 100%;
    }

    .complete_area {
        width: 100%;
    }

    .irasuto {
        min-height: 150px;
        top: -94px;
        right: -70px;
    }
}